// General
// Wraps all Toolbox classes under a common namespace. (Ex. .namespace .class {})
$tb-namespace: null;
// Whether class names should be abbreviated. (Ex. absolute vs abs)
$tb-short-names: false;
// Determines if generated class names should have dashes. (Ex. i-block vs iblock)
$tb-dashed-names: true;
// Should Toolbox errors be visualized on the page.
$tb-visualize-errors: true;

// MEDIA QUERIES
// List breakpoint by using a keyword of choice and a pixel width.
$tb-breakpoints: (large: 1235px, medium: 1024px, small: 768px, mobile: 320px);
// An extra offset for the media queries to ignore before switching between each other.
$tb-breakpoint-offset: 0;

// DIMENSIONS
// Generates padding classes. (Ex. padding-10, padding-20, padding-30)
$tb-padding-iterator: 10;
$tb-padding-min: 10;
$tb-padding-max: 50;
// Generates margin classes. (Ex. margin-10, margin-20, margin-30)
$tb-margin-iterator: 10;
$tb-margin-min: 10;
$tb-margin-max: 50;

// TEXT
// List font sizes with a key and a numeric value. The number is equivalent to pixels in size.
$tb-font-sizes: ('base', 16), ('small', 12);
// Font sizes will be in rem. Note that this sets the `font-size` on both html and body elements.
// The default font size of the `body` element will equal the first font-size from `$tb-font-sizes`
$tb-rem-friendly: true;

// COLORS
// List colors in lists of one or two. If the second parameter is omitted,
// the first will be used for both key and value. (('white', #ffffff), (black), ...).
$tb-colors: ('white', #fff), ('black', #000);
// Should `background-color` classes be generated. (Ex. .white-background { background-color: #ffffff} )
$tb-background-color-classes: true;
// Should `color` classes be generated. (Ex. .white-text { color: #ffffff} )
$tb-text-color-classes: true;
// Should `border-color` classes be generated. (Ex. .white-borders { border-color: #ffffff} )
$tb-border-color-classes: false;
