// Appends an error message before the element it's called on.
@mixin tb-error($message) {
  @if $tb-visualize-errors {
    &::before {
      content: $message;
      color: red;
      font-size: 16px;
    }
  }
  @warn $message;
}

// Removes dashes on classes if neccessary.
@mixin tb-dash($name) {
  @if not $tb-dashed-names {
    $name: tb-replace($name, '-');
  }
  #{$name} { @content };
}

// Generates a range of classes, clamped between two values.
@mixin tb-range($property, $iterator, $min, $max, $units: '') {
  @if $min > $max { @include tb-error('Min value higher than max, while generating #{$name}.') }

  $i: $min;

  @while $i <= $max {
    $name: ".#{$property}-#{$i}";

    #{$name} { #{$property}: #{$i}#{$units}; }

    $i: $i + $iterator;
  }
}
